<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sebet.</title>

    <link rel="icon" type="image/x-icon" href="{% static 'image/ui.png' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<section class="categories" id="categories" style="margin-top: 100px">
<h1 class="heading"><span>Регистрация</span></h1>
    <form method="post" style="text-align: center">
        {% csrf_token %}
        <h3>Логин:</h3>{{ form.username }}<br><br>
        <hr>
        <h3>Пароль:</h3>{{ form.password1 }}<br><br>
        <hr>
        <h3>Подверждение паролья:</h3>{{ form.password2 }}<br><br>
        <a class="btn" type="submit">
            <button type="submit">регистрация</button>
        </a>
        <h4>уже есть аккаунт <a href="{% url 'login' %}" style="color: orange">войти</a> </h4>
    </form>
</section>
</body>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="{% static 'js/script.js' %}"></script>
</html>