* {
    margin: 0;
    padding: 0;
}
*::selection {
    background-color: darkkhaki;
}
html, body {
    height: 100%;
}

.social-icons {
    position: fixed;
    top: 60%;
    display: flex;
    flex-direction: column;
}
.social-icons a {
    width: 187px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin: 2px;
    text-align: right;
    border-radius: 0 40px 40px 0;
    transform: translate(-148px, 0);
    transition: all 1s;
}
.social-icons a:hover {
    transform: translate(0, 0);
}
.social-icons a i {
    margin-left: 10px;
    background-color: whitesmoke;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
.youtube {
    background-color: red;
}
.social-icons .youtube i {
    color: red;
}

.instagram {
    background-color: #b0305b;
}
.social-icons .instagram i {
    color: #b0305b;
}

.whatsapp {
    background-color: limegreen;
}
.social-icons .whatsapp i {
    color: limegreen;
}