<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sebet.</title>

    <link rel="icon" type="image/x-icon" href="{% static 'image/ui.png' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
</head>
<body>

<section class="categories" id="categories" style="margin-top: 100px">
    <h1 class="heading" style="margin-top: -100px"><span>Корзинка</span></h1>
    <a href="{% url 'basic' %}" class="btn">
        в магазин
    </a>
    <div class="shopping-cart">
        <!-- Title -->
        <h1 style="color: #43484D">Общая стоимость:</h1>
        <div id="all_total" style="text-align: center; font-size: 30px; color: #43484D">
            <h1>{{ all_total }}</h1>
        </div>

        {% for cart_item in cart_items %}
            <div class="item">
                <div class="buttons">
                    <a href="#" style="color: black; font-size: 17px;"><i class="fas fa-trash"></i></a>
                </div>

                <div class="image">
                    <img src="{{ cart_item.product.image.url }}" width="40px" alt=""/>
                </div>

                <div class="description">
                    <span><b>{{ cart_item.product.name }}</b></span>
                    <span>регион: {{ cart_item.product.region }}</span>
                    <span>{{ cart_item.product.price }}</span>
                </div>

                <div class="quantity" style="margin-left: 40px">
                    <input type="text" id="name{{ cart_item.id }}" value="{{ cart_item.quantity }}"
                           onchange="cal({{ cart_item.id }}, {{ cart_item.product.price }})" style="border: 1px solid #43484D; border-radius: 5px">
                </div>

                <div class="total-price" id="total{{ cart_item.id }}">{{ cart_item.total }}</div>
            </div>
        {% endfor %}

    </div>
</section>
<script>
    function cal(id, price) {
        let a = document.getElementById('name' + id).value;
        let summa = parseFloat(a) * parseFloat(price);
        document.getElementById('total' + id).innerHTML = summa;
        let all_total = 0
        {% for i in cart_items %}
            all_total += parseInt(document.getElementById('total' +{{i.id}}).innerHTML);
        {% endfor %}
        document.getElementById('all_total').innerHTML = all_total;
    }
</script>
</body>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="{% static 'js/cart.js' %}"></script>

<!-- custom js file link  -->
<script src="{% static 'js/script.js' %}"></script>
</html>