<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sebet.</title>

    <link rel="icon" type="image/x-icon" href="{% static 'image/ui.png' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="header">

    <a href="{% url 'basic' %}" class="logo"> <img src="{% static 'image/ui.png' %}" width="50px" height="30px"> Sebet
    </a>

    <nav class="navbar">
        <a href="{% url 'basic' %}">Главная</a>
        <a href="{% url 'basic' %}">Особенности</a>
        <a href="{% url 'basic' %}">Продукты</a>
        <div class="dropdown">
            <a class="dropbtn">из регионов
                <i class="fa fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
                {% for i in regions %}
                    <a href="{% url 'region' i.id %}">{{ i }}</a>
                {% endfor %}
            </div>
        </div>
        <a href="#review">Отзыв</a>
        <a href="#blogs">Блог</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">
                <div class="fas fa-user-times" id="login-btn" style="color: orange;"></div>
            </a>
        {% else %}
            <a href="{% url 'login' %}">
                <div class="fas fa-user" id="login-btn" style="color: greenyellow;"></div>
            </a>
        {% endif %}
    </div>

    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="искать...">
        <label for="search-box" class="fas fa-search"></label>
    </form>

    <div class="shopping-cart">
        {% for cart_item in cart_items %}
            <div class="box">
                <a href="{% url 'basic' %}"><i class="fas fa-trash"></i></a>
                <img src="{{ cart_item.product.image.url }}" alt="">
                <div class="content">
                    <h3>{{ cart_item.id }}</h3>
                    <span class="price">${{ cart_item.product.price }}</span>
                    <span class="quantity">кол: {{ cart_item.quantity }}</span>
                </div>
            </div>
        {% endfor %}

        <div class="total"></div>
        <a href="{% url 'view_cart' %}" class="btn">Корзинка</a>
    </div>

</header>

{% block content %}
{% endblock %}
{% include 'social_icons.html' %}
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3> sebet. <i class="fas fa-shopping-basket"></i></h3>
            <p>ECOgolik Awards 2021 - подведение итогов года. Лучшая натуральная косметика по мнению уникального
                жюри.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>Контакт</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +996 123 456 789 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +996 987 654 321 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> esaparov03@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Bishkek </a>
        </div>

        <div class="box">
            <h3>Ссылки</h3>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> Главная </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> особенности нашего магазина </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> продукты </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> категории </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> отзывы </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> блог </a>
        </div>

        <form action="{% url 'comment' %}" class="box" method="post">
            {% csrf_token %}
            <h3>отзыв</h3>
            <input type="text" name="text"  style="border: 2px solid #43484D; border-radius: 5px; height: 100px !important;" placeholder="ваш отзыв">
            <input type="text" name="email" placeholder="ваша имя" class="email">
            <input type="submit" value="отправить" class="btn">
        </form> <img src="{% static 'image/payment.png' %}" class="payment-img" alt="">

    </div>

    <div class="credit"> создан <span> mr. web designer </span> | все права защиищаны</div>

</section>
</body>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="{% static 'js/script.js' %}"></script>
</html>