{% extends 'header.html' %}
{% load static %}

{% block content %}
    <body>
    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <h3>свежие и <span>органические</span> продукты для вас</h3>
            <p>Все необходимые витамины для вашего здоровья у нас в магазине</p>
            <a href="{% url 'basic' %}" class="btn">за покупками</a>
        </div>

    </section>

    <!-- home section ends -->

    <!-- features section starts  -->

    <section class="features" id="features">

        <h1 class="heading"> Наши <span> особенности</span></h1>

        <div class="box-container">

            <div class="box">
                <img src="{% static 'image/feature-img-1.png' %}" alt="">
                <h3>Всегда свежий и натуральный</h3>
                <p>Собраны из лучших земел нашей страны</p>
                <a href="{% url 'basic' %}" class="btn">читать больше</a>
            </div>

            <div class="box">
                <img src="{% static 'image/feature-img-2.png' %}" alt="">
                <h3>Бесплатная доставка</h3>
                <p>У нас есть доставка по всему Бишкеку!</p>
                <a href="#" class="btn">читать больше</a>
            </div>

            <div class="box">
                <img src="{% static 'image/feature-img-3.png' %}" alt="">
                <h3>Легикй и быстрый платеж</h3>
                <p>и очень низкие цены по городу!</p>
                <a href="#" class="btn">Читать больше</a>
            </div>

        </div>

    </section>

    <!-- features section ends -->

    <!-- products section starts  -->

    <section class="products" id="products">

        <h1 class="heading"> Наши <span>продукты</span></h1>

        <div class="swiper product-slider">

            <div class="swiper-wrapper">
                {% for product in products_first %}
                    <div class="swiper-slide box">
                        <img src="{{ product.image.url }}" alt="">
                        <h3>{{ product.name }}</h3>
                        <div class="price"> {{ product.price }} сом за 1кг</div>
                        <a href="{% url 'add_cart' product.id %}" class="btn">добавить в корзину</a>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="swiper product-slider">

            <div class="swiper-wrapper">
                {% for product in products_second %}
                    <div class="swiper-slide box">
                        <img src="{{ product.image.url }}" alt="">
                        <h3>{{ product.name }}</h3>
                        <div class="price"> {{ product.price }} сом за 1кг</div>
                        <a href="{% url 'add_cart' product.id %}" class="btn">добавить в корзину</a>
                    </div>
                {% endfor %}
            </div>

        </div>


    </section>

    <!-- products section ends -->

    <!-- categories section starts  -->

    <section class="categories" id="categories">

        <h1 class="heading"><span>Категория</span> продуктов </h1>

        <div class="box-container">
            {% for category in categories %}
                <div class="box">
                    <img src="{{ category.image.url }}" alt="">
                    <h3>{{ category.name }}</h3>
                    <p>45% скидка</p>
                    <a href="#" class="btn">Купить</a>

                </div>
            {% endfor %}
        </div>

    </section>

    <!-- categories section ends -->

    <!-- review section starts  -->

    <section class="review" id="review">

        <h1 class="heading"><span>отзывы</span> покупателей</h1>

        <div class="swiper review-slider">

            <div class="swiper-wrapper">
                {% for comment in comments %}
                <div class="swiper-slide box">
                    <img src="{% static 'image/pic-1.png' %}" alt="">
                    <p>{{ comment.text }}</p>
                    <h3>{{ comment.email }}</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>

    </section>

    <!-- review section ends -->

    <!-- blogs section starts  -->

    <section class="blogs" id="blogs">

        <h1 class="heading"> Наш <span>блог</span></h1>

        <div class="box-container">

            <div class="box">
                <img src="{% static 'image/blog-1.jpg' %}" alt="">
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-user"></i> Эрбол Сапаров </a>
                        <a href="#"> <i class="fas fa-calendar"></i> дата </a>
                    </div>
                    <h3>свежие и органические овощи и фрукты</h3>
                    <p>Польза от регулярного употребления овощей и фруктов известна, пожалуй, каждому. Они благотворно
                        влияют на наш обмен веществ и иммунную систему.

                        Овощи и фрукты – натуральный источник многих витаминов и питательных компонентов, необходимых
                        для
                        здоровья и активного образа жизни. Правильный рацион невозможно представить без фруктов и
                        овощей,
                        при этом крайне важно, чтобы они были органическими, а не напичканными химией и пестицидами.

                        Последние исследования говорят о том, что современные свежие фрукты и овощи содержат на 20-30%
                        меньше полезных витаминов, чем раньше, в силу новых условий и технологий выращивания. А процесс
                        обработки и длительное хранение забирает еще 30-50% питательных веществ. Поэтому специалисты
                        рекомендуют склонять выбор к органической продукции, ведь овощи и фрукты, выращенные в
                        экологически
                        чистых условиях и не подверженные химической обработке, гораздо полезнее и питательнее.
                    </p>
                    <a href="#" class="btn">читать больше</a>
                </div>
            </div>

        </div>

    </section>

    <!-- blogs section ends -->

    <!-- footer section ends -->
{% endblock %}