{% extends 'header.html' %}
{% load static %}

{% block content %}
    <section class="blogs" id="blogs" style="margin-top: 50px">

        <h1 class="heading"> Продукт из <span>{{ area.name }}</span></h1>

        <div class="box-container">

            <div class="box">
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-user"></i> Эрбол Сапаров </a>
                        <a href="#"> <i class="fas fa-calendar"></i> дата </a>
                    </div>
                    <h3>свежие и органические овощи и фрукты</h3>
                    {% if products.count == False %}
                        <h3>У наc пока что нет продуктов из {{ region }}</h3>
                    {% else %}

                        <div class="swiper product-slider">
                            <div class="swiper-wrapper">
                                {% for product in products %}
                                    <div class="swiper-slide box">
                                        <img src="{{ product.image.url }}" alt="">
                                        <h3>{{ product.name }}</h3>
                                        <div class="price"> {{ product.price }} сом за 1кг</div>
                                        <div class="stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                        <a href="{% url 'add_cart' product.id %}" class="btn">добавить в корзину</a>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    {% endif %}
                </div>
            </div>

        </div>

    </section>
{% endblock %}