<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Icons</title>
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="social-icons">
    <a href="#" class="youtube">youtube  <i class='bx bxl-youtube'></i></a>
    <a href="#" class="instagram">instagram  <i class='bx bxl-instagram'></i></a>
    <a href="#" class="whatsapp">whatsapp  <i class='bx bxl-whatsapp'></i></a>
</div>
</body>
</html>